html{
    border: 3px solid red;
    height: 100%;
}

body{
    text-align: center;
}

button{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: none;
    border-radius: 20px;
    width: 130px;
    background-color: darkslateblue;
    cursor: pointer;

}

#texto{
    font-size: 1.4rem;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
